canvas {
  border: 1px solid black;
  background: white;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto;
}

button {
  position: absolute;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-family: Roboto;
  bottom: 30%;
  right: 50px;
}

button:hover {
  cursor: pointer;
  border: 3px solid white;
  background: white;
  color: black;
}

h3 {
  position: absolute;
  margin: 0;
  top: 10px;
  left: 20px;
  font-size: 30px;
  font-family: Iceland;
  background: transparent;
  color: #FF1177;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF
}

#middle-glow {
  position: absolute;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

#middle-glow-2 {
  position: absolute;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

#combo-glow {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 120px;
  height: 20px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

.instructions {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 180px;
  bottom: 12%;
  right: 0;
  color: white
}

h2 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

hidden {
  display: hidden;
}
