canvas {
  background: transparent;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://s-media-cache-ak0.pinimg.com/originals/c1/af/d0/c1afd046a390c4376f38b954e19e7d03.jpg");
  -webkit-background: url("https://s-media-cache-ak0.pinimg.com/originals/c1/af/d0/c1afd046a390c4376f38b954e19e7d03.jpg");
  background-size: 100%;
  margin: 0;
  font-family: Roboto;
  filter: brightness(0%);
}

button {
  position: absolute;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 3px;
  background: transparent;
  border: 1px solid #003463;
  color: #8ecaff;
  font-family: Roboto;
  bottom: 30%;
  right: 50px;
}

button:hover {
  cursor: pointer;
  border: 3px solid white;
  background: white;
  color: black;
}

h3 {
  position: absolute;
  margin: 0;
  top: 10px;
  left: 20px;
  font-size: 30px;
  font-family: Iceland;
  background: transparent;
  color: #49fcf3;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #49fcf3
}

#middle-glow {
  position: absolute;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

#middle-glow-2 {
  position: absolute;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

#middle-glow-3 {
  position: absolute;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

#combo-glow {
  position: absolute;
  top: 13px;
  left: 6px;
  width: 120px;
  height: 27px;
  border-radius: 4px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #228DFF;
}

.instructions {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 160px;
  bottom: 12%;
  right: 0;
  color: white;
  font-family: Roboto;
  font-size: 15px;
}

h2 {
  color: #f4911f;
  padding: 0;
  margin: 0;
}

h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h4 {
  color: #fcac5d;
}

h5 {
  color: #fcc95d;
}

h6{
  color: #fce15d;
}

hidden {
  display: hidden;
}
