canvas {
  background: transparent;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://res.cloudinary.com/djrgebhxz/image/upload/v1496374941/neon_city_mkkuka.jpg");
  -webkit-background: url("https://res.cloudinary.com/djrgebhxz/image/upload/v1496374941/neon_city_mkkuka.jpg");
  background-size: 100%;
  margin: 0;
  font-family: Roboto;
  filter: brightness(5%);
}

button {
  position: absolute;
  width: 110px;
  height: 40px;
  font-size: 30px;
  border-radius: 3px;
  background: transparent;
  border: 2px solid #003463;
  color: #8ecaff;
  font-family: Iceland;
  bottom: 40%;
  right: 105px;
  transition: all 0.5s;
  animation: neon2 1.5s ease-in-out infinite alternate;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  color: #ffffff;
}

button:hover {
  cursor: pointer;
  border: 3px solid white;
  text-shadow: 0 0 10px #fff, 0 0 15px #003463;
}

h3 {
  position: absolute;
  margin: 0;
  top: 10px;
  left: 20px;
  font-size: 30px;
  font-family: Iceland;
  background: transparent;
  color: #49fcf3;
  text-shadow: 0 0 10px #fff, 0 0 15px #49fcf3
}

#middle-glow {
  position: absolute;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

#middle-glow-2 {
  position: absolute;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

#middle-glow-3 {
  position: absolute;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF;
}

#combo-glow {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 280px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff
}

.instructions {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 160px;
  bottom: calc( 40% - 100px);
  right: 50px;
  color: white;
  font-family: Roboto;
  font-size: 15px;
}

h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h2 {
  color: #fce15d;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 2px #fff, 0 0 10px #fce15d;
}

h4 {
  color: #fcc95d;
  text-shadow: 0 0 3px #fff, 0 0 10px #fcac5d;
}

h5 {
  color: #fcac5d;
  text-shadow: 0 0 4px #fcac5d, 0 0 10px #fcac5d
}

h6{
  color: #ffaf54;
  text-shadow: 0 0 5px #ffaf54, 0 0 15px #ffaf54
}

img {
  position: absolute;
  left: 50px;
  height: 100px;
  width: 100px;
  bottom: 100px;
  transition: all 0.5s;
  animation: neon3 1s ease-in-out infinite alternate;
  -webkit-animation: neon3 1s ease-in-out infinite alternate;
  color: #ffffff;
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 30px #228DFF, 0 0 50px #228DFF, 0 0 60px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF;
  }
}

@keyframes neon3 {
  from {
    filter: drop-shadow(3px 3px 3px #c32aff);
  }
  to {
    filter: drop-shadow(0px 0px 0px #9c21cc);
  }
}
